# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# PyInstaller
*.spec

# VSCode settings
.vscode/

# Logs
game_log.txt
*.log
*.txt

# OS junk
.DS_Store
Thumbs.db

# Local JSON data (temporary / dev only)
tasks.json
task2.json
jhand_test.json
*.temp.json

advanced_plot.png
*.temp.png

__jhand_build__/
